<section class="zoom-anim-dialog mfp-hide" id="yb-admin-add-message"><%= render "admin/messageadmin" %></section>
<section class="zoom-anim-dialog mfp-hide" id="yb-admin-add-item"><%= render "admin/additem" %></section>
<section class="zoom-anim-dialog mfp-hide" id="yb-admin-view-items-borrow"><%= render "admin/borrowitems" %></section>