<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
    <style type="text/css">
       	*{
        	font-family: Poppins, Nunito, Century Gothic, sans-serif !important;
        }
        .yb-content-act{
          padding: 50px 80px !important;
        }
        .yb-act-date{
          margin-right: 75px !important;
        }
    </style>
</head>
<body>
	<div class="yb-act-content yb-description" id="yb-borrow-act-content">
		<%= raw @act %>
	</div>
</body>
</html>