<div class="yb-modal-container" style="width:30%;">
	<div class="yb-add-item">
		<h2>Edit Category</h2>
		<%= form_for @category, url: admin_update_category_path(@category), method: "patch" do |form| %>
			<label>Category Name : </label>
			<%= form.text_field :name, required: true, disabled: "disabled", placeholder: "Enter Category Name" %>
			<label>Category Description : </label>
			<%= form.text_area :description, required: true, placeholder: "Enter Category Description", style: "height:100px;" %>
			<div style="display: block; position: relative;">
				<button type="submit">Submit</button>
				<button type="button" id="yb-close-add-category" class="yb-btn-cancel">Cancel</button>
			</div>
		<% end %>
	</div>
	<script type="text/javascript">$("#yb-close-add-category").closePopup();</script>
</div>