<div class="yb-modal-container" style="width:30%;">
	<div class="yb-add-item">
		<h2>Add Category</h2>
		<%= form_for :category, url: admin_create_category_path do |form| %>
			<label>Category Name : </label>
			<%= form.text_field :name, required: true, placeholder: "Enter Category Name", autocomplete: "off" %>
			<label>Category Icon : </label>
			<%= form.text_field :icon, required: true, placeholder: "Enter Category Icon", autocomplete: "off" %>
			<label>Category Description : </label>
			<%= form.text_area :description, required: true, placeholder: "Enter Category Description", style: "height:100px;" %>
			<div style="display: block; position: relative;">
				<button type="submit">Submit</button>
				<button type="button" id="yb-close-add-category" class="yb-btn-cancel">Cancel</button>
			</div>
		<% end %>
	</div>
	<script type="text/javascript">$("#yb-close-add-category").closePopup();</script>
</div>