<section class="yb-header-else-main">
	<div class="yb-header-else-container">
		<h3 style="padding:0 !important; margin:0 !important;">ITEM REQUESTS - ALL</h3>
	</div>
</section>
<section class="yb-jumbotron">
	<h1>ITEM REQUESTS - ALL</h1>
</section>
<section class="yb-items-list-main" style="margin-top: 30px;">
	<% if @requests.count > 0 %>
		<div class="yb-items-container">
			<div class="yb-user-items">
				<div id="yb-item-request-list">
					<%= render @requests %>
				</div>
			</div>
			<%= will_paginate @requests %>
   	 	</div>
   	 	<div class="yb-items-loader">
   	 		<%= image_tag '/assets/loading.gif', alt: 'Loading' %>
   	 	</div>
    <% else %>
        <p class="yb-error">NO REQUESTED ITEM</p>
    <% end %>
</section>