<section class="yb-home-main" id="yb-home-main">
	<div class="yb-home-container">
		<div class="yb-description">
			<h3>Welcome to</h3>
            <h1>Yo Buddy !</h1>
            <hr>
                    
            <hr>
		</div>
		<br/>
		<div class="yb-some-items">
			<h2>Featured Items</h2>
			<div class="yb-some-items-container">
				<div class="yb-item-previous">
					<span><i class="icon ion-ios-arrow-back"></i></span>
				</div>
				<div class="yb-item-next">
					<span><i class="icon ion-ios-arrow-forward"></i></span>
				</div>
				<div class="yb-some-item"></div>
			</div>
		</div>
	</div>
</section>
