<section class="yb-sign-in-up-container" id="yb-user-sign">
	<div class="yb-sign-in-up" style="margin-top: 240px;">
		<div class="yb-sign-menu">
			<ul>
				<li class="active"><a href="#yb-sign-in">Reset Password - Password</a></li>
			</ul>
		</div>
		<div class="yb-sign-content">
			<div class="yb-sign-form active" id="yb-sign-in">
				<%= form_for :new_pswd, url: user_reset_password_change_path do |f| %>
					<%= f.hidden_field :rsp_token, value: @token %>
					<%= f.password_field :password, placeholder: 'Enter New Password', required: true, autocomplete: 'off' %>
					<%= f.password_field :conf_password, placeholder: 'Confirm New Password', required: true, autocomplete: 'off' %>
					<button type="submit">Reset</button>
				<% end -%>
			</div>
		</div>
	</div>
</section>
