<section class="yb-sign-in-up-container" id="yb-user-sign">
	<div class="yb-sign-in-up" style="margin-top: 240px;">
		<div class="yb-sign-menu">
			<ul>
				<li class="active"><a href="#yb-sign-in">Reset Password - Email</a></li>
			</ul>
		</div>
		<div class="yb-sign-content">
			<div class="yb-sign-form active" id="yb-sign-in">
				<%= form_for :email, url: user_rp_send_mail_path do |f| %>
					<p>Enter your email address on which you will receive a link that will allow you to reset your password</p>
					<%= f.text_field :email, placeholder: 'Enter Email', required: true, autocomplete: 'off' %>
					<button type="submit">Send</button>
				<% end -%>
			</div>
		</div>
	</div>
</section>
