<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <style type="text/css">
            *{
                margin: 0;
                padding: 0;
            }
            a{
                text-decoration: none;
                outline: none;
            }

            body{
                background: #DDDD !important;
                padding: 50px !important;
                display: block;
                position: relative;
                width: 100%;
            }

            section{
                width: 60%;
                margin: 50px auto;
                background: red;
                border:2px solid #cc8400;
                background: white;
                padding: 40px !important;
            }

            .yb-header{
                border-bottom: 1px solid rgba(0,0,0,.1);
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            .yb-header h1{
                margin: 0 !important;
                padding: 0 !important;
                font-size: 32px;
                color: #cc8400;
            }

            .yb-message{
                padding-bottom: 20px;
                font-size: 16px;
            }

            .yb-link{
                margin: 30px 0;
            }

            .yb-link a{
                display: block;
                background: rgba(0,0,255, .7);
                color: #FFF;
                text-align: center;
                padding: 5px;
                border-radius: 4px;
                text-transform: uppercase;
                font-size: 16px;
            }

            .yb-footer{
                color: #cc8400;
                font-size: 10px;
            }

            .yb-content{
                border-bottom: 1px solid rgba(0,0,0,.1);
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body style="font-family: Avenir,'Avenir Next','Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif !important; background: #DDDD !important;padding: 50px !important;display: block;position: relative;width: 100%;">
        <section style="width: 60%;margin: 50px auto;background: red;border:2px solid #cc8400;background: white;padding: 40px !important;">
            <div class="yb-header"><h1>Yo Buddy !</h1></div>
            <div class="yb-content">
                <p class="yb-message">Dear <%= @admin.user.name %>,</p>
                <p class="yb-message">
                	Your trial period has been expired and we kindly ask you to buy one of our packages. Your minimum package is <strong><%= @package.upcase! %></strong> due to the items you have been adding in your trial period.
                    You are now asked to come and pay for this package before you start using it.
                </p>
            </div>
            <p class="yb-message">Regards !</p>
            <p class="yb-footer">Sent By Team Split Orange - Yo Buddy !</p>
        </section>
    </body>
</html>