<section class="zoom-anim-dialog mfp-hide" id="yb-admin-add-message"><%= render "admin_user/messageadmin" %></section>
<section class="zoom-anim-dialog mfp-hide" id="yb-admin-add-item"><%= render "admin_user/additem" %></section>
<section class="zoom-anim-dialog mfp-hide" id="yb-admin-view-items-borrow"><%= render "admin_user/borrowitems" %></section>